
      <div class="download-container" id="download-container-inner">
             <a class="click-download" href="#">
                 <span class="download-icon download-button">DOWNLOAD</span>
                 <span class="download-icon">|</span>
                 <span class="nitro-icon-sprite icon-download-photo download-icon" id="download-glyphicon"></span>
              </a>
        </div>
        <div class="popup-container">
            <div class="popup-container-inner">
            <div class="input-date">
                <label for="from">FROM</label>
                <input type="date"  class="from-date"/>
            </div>
            <div class="input-date">
                <label for="to">TO</label>
               <input  class="to-date" disabled="true"/>
            </div>
            <div class="submit-container">
                <input type="submit" class="submit-content" value="Submit" />
            </div>
            </div>
        </div>