<div class="nav-candidate-page nav-system-admin-login">
<nav>
      <ul class="nav-menu">

        <li ui-sref-active-eq="nav-session-page" class='nav-item-session'>

            <a ui-sref="dashboard"  >
                <span class="nitro-icon-sprite"></span>
                <span>Sessions</span>
                <!-- <span></span> -->
                <!--empty span for creating arrow -->
            </a>
        </li>
        <li  ui-sref-active-eq="nav-candidate-page" class='nav-item-candidate'>
            <a ui-sref="dashboard.candidate" >
                <span class="nitro-icon-sprite"></span>
                <span>Candidates</span>
                <!-- <span></span> -->
                <!--empty span for creating arrow -->
            </a>
        </li>
       
         <li ui-sref-active-eq="nav-interviewer-page" class='nav-item-interviewer'> 
            <a ui-sref="dashboard.interviewer" >
                <span class="nitro-icon-sprite"></span>

                <span>Interviewers</span>
                <span></span>

                <!--empty span for creating arrow -->
            </a>
        </li>
         <li ui-sref-active-eq='nav-recruiter-page' class='nav-item-recruiter'>
            <a ui-sref="dashboard.recruiter">
                <span class="nitro-icon-sprite"></span>

                <span>Recruiters 
                </span>
                <span></span>

                <!--empty span for creating arrow -->
            </a>
        </li>
         
    </ul>
</nav>
</div>


