/ui/app/assets/css/style.css
app/assets/css
/ui/app/assets/css
/Server
/ui/node_modules
/ui/bower_components
/ui/.sass-cache
/ui/.vscode
node_modules
dist
.tmp
.sass-cache
bower_components
.vscode
/tests/.gitkeep


.gitkeep
Server
/hirebuddy.iml
css