//colors
$gray:  gray;
$white: #ffffff;
$black: #000000;
$color_storm_dust_approx: #666666;
$color_gravel_approx: #4c4c4c;
$color_red_approx: #f40f0f;
$color_alabaster_approx: #f9f9f9;
$color_day_normal : #b6d1ee;
$color_day_down : #096fdb;
$color_day_over : #65a7ed;


%extend_controlbar_buttons{
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    padding:0 !important;
    
}
%extend_day_normal{
        font-size: 12px;
        cursor: pointer;
        overflow: hidden;
        border-radius : 5px;
        width: 24px;
        height: 25px;
        float: left;
        margin: 4px 5px 0 0;
        padding: 0;
        text-align: center;
        line-height: 25px;
}

#parent-datepicker{
    clear:both;
    
    input{
        display:inline-block;
    }
    
    .date-pick-box {
    position: absolute;
	width: 225px;
	height: 235px;
	left: 0;
	padding: 0 3px 3px !important;
	border: 2px solid $gray;	
	border-radius: 8px;
    background-color:#fff;
    z-index:2;
    
    ul{
    margin:0;
    padding:0;
    }
    
    .margin-right{
        margin-right:0px;
    }
    
	.box-main {
		float: left;
		background-color: $white;
		margin: 0;
		padding: 15px 0 5px !important; 
        width:100%;
	}
	.box-main-inner {
		background: $white;
		width: 208px;
		float: left;
		margin: 5px 0 0 6px;
		padding: 0 !important;
		height: 180px;
	}
    .box-main-cells-container{
        width:100%;
        
    }
    .date-pick-close-button-down{	
	   @extend .icon-close-button-normal;
    }
    .month-forward-button-down {	
	   @extend .icon-month-forward-normal;
    }
    .year-forward-button-down {
       @extend .icon-month-forward-normal;
    }
    .month-backward-button-down {
	   @extend .icon-month-backward-normal;
    }
    .year-backward-button-down {
	   @extend .icon-year-backward-normal;
    }

    .controls-bar {
        overflow: hidden;
        height: 20px;
        width:200px;;
        padding:0 !important;
    }
    .controls-bar-text {
        overflow: hidden;
        height: 20px;
        line-height: 20px;
        color: $black;
        font-size: 12px;
        margin-left:30%;        
    }
    

    .week-days-row{
        height: 12px;
        overflow: hidden;
        line-height: 11px;
        font-size: 10px;
        color: $color_storm_dust_approx;
        text-align: center;
        padding: 0 !important;
        margin:0;
        width:100%;
        .week-day {
            float: left;
            height: 14px;
            overflow: hidden;
            width: 24px;
            margin: 0 5px 0 0 !important;
            padding: 0;
        }
    }
    .skip-day {
        cursor: default;
        overflow: hidden;
        width: 24px;
        height: 25px;
        float: left;
        margin: 4px 5px 0 0;
        padding: 0;
    }
    .day-normal {
       @extend %extend_day_normal;
        color: $color_gravel_approx;
        background-color: $color_day_normal;
        
    }
    .day-normal-today {
        @extend %extend_day_normal;
        color: $color_red_approx;
        background-color: $color_day_normal;
        
    }
    .day-over {
        @extend %extend_day_normal;
        color: $color_gravel_approx;
        background-color:$color_day_over;
    
    }
    .day-over-today {
        @extend %extend_day_normal;
        color: $color_red_approx;
        background-color:$color_day_down ;
        
    }
    .day-down {
        @extend %extend_day_normal;        
        color: $color_alabaster_approx;
        background-color: $color_day_down;
        
    }
    .day-down-today {
        @extend %extend_day_normal;
        color: $color_red_approx;
        background-color: $color_day_down;
        
    }
    }
    .month-forward-button {
        @extend %extend_controlbar_buttons;
        right: 22px;
        @extend .nitro-icon-sprite;
	    @extend .icon-month-forward;
    }

    .month-backward-button {
        @extend %extend_controlbar_buttons;
        left: 22px;
        @extend .nitro-icon-sprite;
        @extend .icon-month-backward;
    }

    .year-forward-button {
        @extend %extend_controlbar_buttons;
        right: 0;
        @extend .nitro-icon-sprite;
        @extend .icon-year-forward ;
    }
    
    .year-backward-button {
       @extend %extend_controlbar_buttons;
        left: 0;
        @extend .nitro-icon-sprite;
        @extend .icon-year-backward;
    }
    .date-pick-close-button {
        cursor: pointer;
        position: absolute;
        z-index: 1;
        top: 1px;
        right: 10px;
        @extend .nitro-icon-sprite;
        @extend  .icon-close-button;
    }
    
}

