$h1-color: $global-base-grey-color;
$font-color: $global-base-grey-color;
$bottom-border-color: $global-base-blue-color;
$btn-primary-bg: $global-base-brown-color;
$anchor-links: $global-base-brown-color;
$btn-primary-border: $global-base-brown-color;