/*!
 * Hire Buddy v0.0.1
 * Copyright 2016, Sapient Nitro
 */

$h1-color: $nitro-base-white-color;
$font-color: $nitro-base-white-color;
$bottom-border-color: $nitro-base-red-color;
$btn-primary-bg: $nitro-base-black-color;
$anchor-links: $nitro-base-black-color;
$btn-primary-border: $nitro-base-black-color;
$text-red-color: $nitro-base-red-color;
$content-font-color: $nitro-base-black-color;
$profile-box-color: #e7e7e7;
$popup-table-bg: #f5f5f5;
$popup-table-header-bg: $nitro-base-black-color;
$status-pending: #ffcc00;
$status-active: #00a022;
$status-expired: #333333;
$text-box-bg: #ebebeb;
$text-box-placeholder: red;
$text-box-bottom-border: $nitro-base-black-color;
$dropdown-color: #ccc;