
.unordered-list {
    border: 1px solid black;
    width: 155px;
    position: absolute;
    margin-left: 70px;
    display: none;
    background-color: #ffffff;
    cursor:pointer;
}

.unordered-list ul li:hover {
    background-color: #E5E4E2
}

.interviewerText {
    width: 110px;
}
